
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to weexus.com, <%= @user.email %></h1>
    <p>
      Your post has been rejected due to some inappropriate content. Contact the curator@weexus.com.<br>

       Have a great day!
     </p>
  </body>
</html>
