</br>
<h2 class="mytitle">Share your unique experience</h2>

<h3 class="abouttext1">Welcome to Weexus</h3>
<p class="abouttext2">Weexus is an ad-free, open platform for sharing unique personal experiences and stories from across the world.
  Share your experience with others, record your memories, create your story.
  Everyone experiences the world differently. Everyone has stories to share and memories to record.
  Weexus offers a safe and secure space to share.
</p>
</br>
</br>
