<h1 class="title">Share your unique experience</h1>

<h2>Welcome to Weexus</h2>
<p>Weexus is an ad-free, open platform for sharing unique personal experiences and stories from across the world.</p>
<p>Share your experience with others, record your memories, create your story.</p>

</br>

<p>
  Everyone experiences the world differently. Everyone has stories to share and memories to record.
  Weexus offers a safe and secure space to share.
</p>
