</br>
<h2 class="title">Hints & Tips: How to share your Experience</h2>

<h3 class="abouttext1">1. Write In One Sitting</h3>
<p class="abouttext2">Write the first draft of your story in as short a time as possible. If you’re writing a short story, try to write it in one sitting. If you’re writing a novel, try to write it in one season (three months).4
  Don’t worry too much about plotting or outlining beforehand. You can do that once you know you have a story to tell in the first place. Your first draft is a discovery process. You are like an archeologist digging an ancient city out of the clay. You might have a few clues about where your city is buried beforehand, but you don’t know what it will look like until it’s unearthed.
  All that’s to say, get digging!
</p>

<h3 class="abouttext1">2. Develop Your Protagonist</h3>
<p class="abouttext2">Stories are about protagonists, and if you don’t have a good protagonist, you won’t have a good story. The essential ingredient for every protagonist is that they must make decisions. Victor Frankl said, “A human being is a deciding being.” Your protagonist m5ust make a decision to get herself into whatever mess she gets into in your story, and likewise, she must decide to get herself out of the mess.
  To further develop your protagonist, use other character archetypes like the villain, the protagonist’s opposite, or the fool, a sidekick character that reveals the protagonist’s softer side.
</p>

<h3 class="abouttext1">3. Create Suspense and Drama</h3>
<p class="abouttext2">To create suspense, set up a dramatic question. A dramatic question is something like, “Is he going to make it?” or, “Is she going to get the man of her dreams?” By putting your protagonist’s fate in doubt, you make the reader ask, What happens next?
  Note: To do this well, you need to carefully restrict the flow of information to the reader. Nothing destroys drama like over-sharing.
</p>

<h3 class="abouttext1">4. Show, Don’t Tell</h3>
<p class="abouttext2">Honestly, the saying “show, don’t tell” is overused. However, when placed next to the step above, it becomes very effective.
  When something interesting happens in your story that changes the fate of your character, don’t tell us about it. Show the scene! Your readers have a right ro see the best parts of the story play out in front of them. Show the interesting parts of your story, and tell the rest.
</p>

<h3 class="abouttext1">5. Write Good Dialogue</h3>
<p class="abouttext2">Good dialogue comes from two things: intimate knowledge of your characters and lots of rewriting.
  Each character must have a unique voice, and to make sure your characters all sound different, read each character’s dialogue and ask yourself, “Does this sound like my character?” If your answer is no, then you have some rewriting to do.
  Also, with your speaker tags, try not to use anything but “he said” and “she said.” Speaker tags like “he exclaimed,” “she announced,” and “he spoke vehemently” are distracting and unnecessary. The occasional “he asked” is fine, though.
</p>


<h3 class="abouttext1">6. Edit Like a Pro</h3>
<p class="abouttext2">Most professional writers write three drafts or more. The first draft is often called the “vomit draft” or the “shitty first draft.” Don’t share it with anyone! Your first draft is your chance to explore your story and figure out what it’s about.
  Your second draft isn’t for polishing, although many new writers will try to polish as soon as they can to clean up their embarrassing first draft. Instead, the second draft is meant for major structural changes and for clarifying the plot and characters of your novel or the key ideas of your non-fiction book.
  The third draft is for deep polishing. Now is when everything starts to gel. This is the fun part! But until you write the first two drafts, polishing is probably a waste of your time.
</p>

<h3 class="abouttext1">7. Know the Rules, Then Break Them</h3>
<p class="abouttext2">Good writers know all the rules and follow them. Great writers know all the rules and break them. However, the best writers don’t break the rules arbitrarily. They break them because their stories require a whole new set of rules. Respect the rules, but remember that you don’t serve the rules. You serve your stories.
</p>

<h3 class="abouttext1">8. Defeat Writer’s Block</h3>
<p class="abouttext2">The best way to defeat writers block is to write. If you’re stuck, don’t try to write well. Don’t try to be perfect. Just write.
  Sometimes, to write better stories, you have to start by taking the pressure off and just writing.
</p>

<h3 class="abouttext1">9. Share Your Work</h3>
<p class="abouttext2">You write better when you know someone will soon be reading what you’ve written. If you write in the dark, no one will know if you aren’t giving your writing everything you have. But when you share your writing, you face the possibility of failure. This will force you to write the best story  you possibly can.
</p>

</br>
