* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
html{
        overflow-x: hidden;
        min-height: 100%;
        box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html{
    min-height: 100%
}


/*-------------------*/
/* Background styles */
/*-------------------*/
.polyscape-background {
        margin: 30px auto;
        /*width: 80vw;*/
        height: 75vh;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        text-align: center;
}
.polyscape-background > div {
        position: absolute;
}
/*-------------------*/
/*      Polyscape 1      */
/*-------------------*/
#polyscape-1 {
        background-image: url("polyscape-1/people.jpg");
        background-color: rgba(240, 240, 240, 0.4);
}
/*#polyscape-1 .circle{
        width: 460px;
        height: 460px;
        border-radius: 50%;
        background: url("polyscape-1/city1.jpg") fixed center;
        background-size: cover;
        filter: brightness(150%) contrast(100%);
        filter: hue-rotate(0deg) contrast(100%);
        background-color: rgba(181, 41, 41, 0.4);
}
#polyscape-1 .circle:after{
        display: block;
        padding-bottom: 100%;
        width: 100%;
        height: 0;
        content: "";
}
    #polyscape-1 .circle__inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
    }
    #polyscape-1 .circle__wrapper {
            display: table;
            width: 100%;
            height: 100%;
    }
    #polyscape-1 .circle__content {
            display: table-cell;
            padding: 1em ;
            vertical-align: middle;
    }
#polyscape-1 .square-rotated {
        width: 480px;
        height: 480px;
        transform: rotate(45deg);
        filter: invert(25%);
        border: 100px solid transparent;
        border-image: url("polyscape-1/clouds2.jpg") 200 stretch;
        background-color: rgba(255, 255, 240, 0.4);
}
#polyscape-1 .square {
        width: 500px;
        height: 500px;
        border: 10px solid #ddd;
        border-radius: 50%;
        background: url("polyscape-1/clouds2.jpg") fixed center;
        background-size: cover;
        background-color: rgba(255, 255, 240, 0.4);
}*/
/*-------------------*/
/*      Polyscape 2      */
/*-------------------*/
/*#polyscape-2 {
        background-image: url("polyscape-2/cloudsflat.jpg") ;
}
#polyscape-2 .diamond {
        width: 420px;
        height: 560px;
        background: url("polyscape-2/milkyway.jpg") center;
        background-size: cover;
        clip-path: polygon(50% 0, 0 65%,  50% 100%, 100% 65%);
}
#polyscape-2 .diamond:first-child {
        transform: translateX(-100px);
        filter: opacity(80%) saturate(70%);;
}
#polyscape-2 .diamond:last-child {
        transform: translateX(100px);
        filter: opacity(70%) brightness(1.4);;
}*/
/*-------------------*/
/*      Polyscape 3      */
/*-------------------*/
/*#polyscape-3 {
        background-image: url("polyscape-3/stars.jpg") ;
}
#polyscape-3 .triangle{
        width: 480px;
        height: 480px;
        background: url("polyscape-3/mountain.jpg");
        background-position: 50% 70%;
        filter: hue-rotate(60deg) contrast(200%);
        clip-path: polygon(0 20%, 300% 20%, 300% 80%, 0 80%);
}*/
/*-------------------*/
/*      Polyscape 4      */
/*-------------------*/
#polyscape-4 {
        background-image: url("polyscape-4/citysky.jpg");
        /*filter: grayscale(25%);*/
}
#polyscape-4 .circle{
        position:relative;
        display: block;
        width: 400px;
        height: 400px;
        margin: 2em 0em;
        border-radius: 50%;
        background: url("polyscape-4/clouds2.jpg") fixed center;
        background-size: contain;
            /*filter: hue-rotate(120deg) contrast(140%);*/
        filter: hue-rotate(30deg) brigthness(5%) contrast(0%);
        text-align: center;
        background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,255,255,1));
      }
#polyscape-4 .circle:after{
        display: block;
        padding-bottom: 100%;
        width: 100%;
        height: 0;
        content: "";
      }
    #polyscape-4 .circle__inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
      }
    #polyscape-4 .circle__wrapper {
            display: table;
            width: 100%;
            height: 100%;
    }
    #polyscape-4 .circle__content {
            display: table-cell;
            padding: 1.5em ;
            vertical-align: middle;
    }
/*#polyscape-4 .square-rotated {
        width: 460px;
        height: 460px;
        transform: rotate(45deg);
        background: transparent;
        border: 25px solid transparent;
        border-image: url("polyscape-4/clouds.jpg") 25 stretch;
        filter: hue-rotate(120deg) contrast(140%);
}*/
/*#polyscape-4 .square-rotated-small {
        width: 360px;
        height: 360px;
        transform: rotate(45deg);
        background: transparent;
        border: 25px solid transparent;
        border-image: url("polyscape-4/clouds.jpg") 25 stretch;
        filter: hue-rotate(120deg) contrast(140%);
}*/
/*#polyscape-4 .square {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid transparent;
        border-image: url("polyscape-4/clouds.jpg") 2 stretch;
        /*filter: hue-rotate(160deg) contrast(140%);
        background-color: rgba(135, 206, 260, 0.4);
}*/
/*-------------------*/
/*      Polyscape 5      */
/*-------------------*/
#polyscape-5 {
        background-image: url("polyscape-5/bench.jpg") ;
}
/*AH Changed this from triangle to square*/
#polyscape-5 .triangle{
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        background-color: rgba(135, 206, 260, 0.4);
}
/*#polyscape-5 .triangle:first-child{
        width: 600px;
        height: 525px;
        transform: rotate(180deg) translateX(100px);
}
#polyscape-5 .triangle:last-child{
        width: 320px;
        height: 280px;
        transform: translateX(150px) translateY(50px);
}*/
