//http://thecodeplayer.com/walkthrough/make-a-simple-cloud-in-css3



body {
/*background: #fff;*/
}

#tag_cloud {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 2em, 2em, 2em, 2em;
  width: 350px;
  border-radius: 50%;
  margin: 0 auto;

  .a:hover, .b:hover, .c:hover, .d:hover, .e:hover, .f:hover{
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #1E90FF;
      background-color: transparent;
    }

  .a { font-size: 1.8em; color: #351F39; vertical-align: super; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
  .c { font-size: 2.0em; color: #87CEEB; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
  .e { font-size: 2.5em; color: #726A95; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
  .f { font-size: 3.0em; color: #709FB0; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
  .b { font-size: 2.2em; color: #351F39; vertical-align: sub; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
  .d { font-size: 5.0em; color: #726A95; line-height: 0.3 !important; transition: all 0.3s ease-in; text-decoration: none;}
}

/*.d { font-size: 8.0em; color: #87CEEB; line-height: -2.0; text-decoration: none; text-shadow: -0.5px 1.0px 0.5px #ffc, 0.5px -0.5px 0.5px #fff;}*/


@media (min-width: 280px) {#tag_cloud
  {font-size: 0.5em;}
}

@media (min-width: 768px) {#tag_cloud
  {font-size: 1em;}
}
